.wapper-list{
    width: 100%;
    position: absolute;
    top: 45px;
    bottom: 50px;
    overflow: hidden;
}

.list-ul{
    
}
.list-ul h2 {
    padding: .32rem .32rem .2rem;
    line-height: 1;
    font-size: .28rem;
    color: #999;
    background: #f7f7f7;
}
.list-ul-content{
    background: #f7f7f7;
}
.list-ul-item{
    position: relative;
    height: 50px;
    line-height: 50px;
    padding: 0 16px;
    font-size: 14px;
    color: #333;
    position: relative;
    background: #fff;
}

.list-ul-item:after{
    content: "";
    position: absolute;
    bottom: 0;
    width: 200%;
    transform: scale(.5) translateY(0);
    border-bottom: 1px solid #ebebeb;
    left: 0;
    -webkit-transform-origin: 0 bottom;
    transform-origin: 0 bottom;
}

.list-ul-item:active{
    background: #f7f7f7;
}


.letter{
    position: fixed;
    
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 300;
    padding: .15rem .1rem;
    border-radius: .3rem;
    background: #fff;
    box-shadow: 1px 1px 3px #e2e2e2;

}
.letter ul{
    margin: 0;
    padding: 0;
}

.letter ul li{
    padding: .06rem 0;
    line-height: 1;
    text-align: center;
    font-size: .24rem;
    color: #666;
}

.letter ul .active{
    color: #fee151;
}