.shop-wrap {
    width: 7.5rem;
    margin: 0 auto;
    overflow: hidden;
}

.shop-list-con {
    padding: 0.21rem 0.38rem;
    display: flex;
    border-bottom: 1px solid rgba(156, 156, 156, 0.43);
    position: relative;
    background: #fff;
}

.shop-list-con img {
    width: 1.94rem;
    height: 1.4rem;
    
    margin-top: 0;
}
.shop-text{
    position: relative;
    margin-right: 0.38rem;
}
.shop-text>p:nth-child(1) {
    margin-top: 0;
    font-size: 0.22rem;
    color: #333;
    margin-bottom: 0;
    line-height: 0.3rem;
}

.shop-text>p:nth-child(2) {
    margin-top: 0.1rem;
    font-size: 0.24rem;
    color: #da020c;
    margin-bottom: 0;
}

.text-ellipsis {
    display: -webkit-box;
    overflow: hidden;
    white-space: normal!important;
    text-overflow: ellipsis;
    word-wrap: break-word;
    -webkit-line-clamp: 3;
   /* autoprefixer: off*/
-webkit-box-orient: vertical;
/* autoprefixer: on*/
}

.shop-list {
    /*margin-bottom: 1rem;*/
    /*padding-bottom: 1rem;*/
}

.shop-button {
    font-size: 0.22rem;
    width: 1.1rem;
    height: 0.44rem;
    line-height: 0.44rem;
    text-align: center;
    background: #f96e31;
    border-radius: 0.05rem;
    position: absolute;
    right: 0.3rem;
    bottom: 0.25rem;
    color: #fff;
}

.shop-look-button {
    width: 7.5rem;
    position: fixed;
    bottom: 0;
    background: #41b4ad;
    font-size: 0.36rem;
    color: #fff;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
}

.shop-list-img {
    height: 1.4rem;
    width: 1.94rem;
}

.mui-pull {
    font-weight: 100 !important;
}

.shopList {
    overflow: hidden;
    width: 100%;
    background: #fff;
    position: absolute;
top: 0;
/* bottom: 1rem; */
}
.money{
    position: absolute;
    bottom: 0;
}