.topWrapper {
    width: 90%;
    padding: 0;
	height: .5rem;
	position: relative;
    overflow: hidden;
    border-bottom:  1px solid #d0d0d0
}
.topWrapper ul{
    width: auto;
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    flex-flow: nowrap;
    margin: 0;
    height: .5rem;
    position: relative;
    
}

.bottom-line{
    width: .6rem;
    position: absolute;
    height: 1px;
    background: #5864f7;
    bottom: 0px;
    transition: .3s linear;
}
.topWrapper ul li{
    /* padding: .02rem .05rem; */
    color: #333;
    font-size: .24rem;
    line-height: .5rem;
    width: 1.2rem;
    float: left;
    text-align: center;
}

.newsList {
	float: left;
	height: 100%;
    position: relative;
  }
  .bottomWrapper{
    width: 100%;
    height:calc(100% - 75px);
    overflow: hidden;
  }
  .bottom-line{
	width: .6rem;
	position: absolute;
	height: 1px;
	background: #5864f7;
	bottom: 0px;
	transition: .3s linear;
}